body{
    margin: 0;
}
nav{
    background-color: rgb(43, 216, 43);
    height: 1.5vh;
}
header{
    background-image: url(img/banner.png);
    height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    flex-wrap: wrap;
}
div{
     flex-wrap: wrap;
}
.titulo{
    margin: 0 auto;
    width: 80%;
    height: 40%;
    border: 2px solid darkorchid;
    display: flex;
    align-items: center;
}

.titulo h1{
    color: honeydew; 
    border: 2px solid honeydew;
    width: 100%;
    margin: 0vh 0vh;
    font-family: 'Pacifico', cursive;
}
.titulo p{
    margin: 0% 0% 10% 0%;
    width: 80%;
    height: %;
    border: 2px solid rgb(153, 240, 232);
    display: flex;
    align-items: center;

}
section{
    margin: 0vh 25vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.icone1{
    background-color: rgb(43, 216, 43);
    border-radius: 50px;
    justify-content: center;
    display: flex;
    border: 8px solid rgb(43, 216, 43);
    margin: 10px;
}
.icone2{
    background-color: rgb(43, 216, 43);
    border-radius: 50px;
    justify-content: center;
    display: flex;
    border: 8px solid rgb(43, 216, 43);
    margin: 10px;
}
.icone3{
    background-color: rgb(43, 216, 43);
    border-radius: 50px;
    justify-content: center;
    display: flex;
    border: 8px solid rgb(43, 216, 43);
    margin: 10px;
}
